/* Target the entire application window background */
.root {
    /* -fx-background-color: #2c3e50; */
}

.node {
    -fx-border-color: #e74c3c;
    -fx-border-width: 5px;
    -fx-border-style: solid;
}

/* .ListView {
    -fx-background-color: #f1c40f;
    -fx-opacity: 0.8;
} */